.AuthenticationPage {
    padding: 0 !important;
    margin: 0 !important;
    .row {
        padding: 0 !important;
        margin: 0 !important;
        height: 100vh;
        .col-login {
            padding: 0 !important;
            margin: 0 !important;
            height: 100%;
            display: flex;
            // border: 1px solid black;
            justify-content: center;
            align-items: center;
            background-color: #27272c;
            .login-container {
                width: 100%;
                height: 100%;
                // border: 1px solid red;
            }
        }
        .col-picture {
            padding: 0 !important;
            margin: 0 !important;
            height: 100%;
            .image-container {
                width: 100%;
                height: 100%;
                background-image: url("../images/auth-image.jpg");
                background-position: center;
                background-repeat: repeat;
                background-size: cover;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                .btn-signup {
                    border: 4px solid #fff;
                    background: none;
                    padding: 10px;
                    width: 20%;
                    color: #fff;
                    transition: 0.5s;
                    font-family: "Roboto-Regular", "Roboto";
                    font-size: 20px;
                    font-weight: 800;
                    &:hover {
                        background: #fff;
                        color: #000;
                    }
                    &:focus {
                        outline: none;
                    }
                }
            }
            .link-home {
                border: none;
                background: none;
                position: absolute;
                bottom: 20%;
                // border: 2px solid white;
                width: 35%;
                // padding: 5px;
                // padding: 2px;
                // width: 20%;
                // transition: 0.5s;
                // font-family: "Roboto-Regular", "Roboto";
                // font-size: 20px;
                // font-weight: 800;
                a {
                    border: 2px solid #fff;
                    font-family: "Roboto-Regular", "Roboto";
                    font-size: 20px;
                    font-weight: 800;
                    width: 100%;
                    padding: 10px;
                    color: #fff;
                    transition: 0.3s;
                    // border: 1px solid black;
                    &:hover {
                        padding: 10px;
                        background: #fff;
                        color: #000;
                        text-decoration: none;
                    }
                }
            }
            // .link-home {
            //     position: absolute;
            //     bottom: 10%;
            //     border: 2px solid white;
            //     width: 35%;
            //     padding: 5px;
            //     &:hover {
            //         background-color: #fff;
            //     }
            //     a {
            //         text-decoration: none;
            //         color: white;
            //         font-family: "Roboto-Regular", "Roboto";
            //         font-size: 20px;
            //         font-weight: 600;
            //         &:hover {
            //             text-decoration: none;
            //             color: #000;
            //         }
            //     }
            // }
        }
    }
}
