.header-container {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    // border: 1px solid black;
    align-items: flex-start;
    // .video-container {
    //     width: 100%;
    //     height: 100%;
    //     border: 10px solid black;
    video {
        width: 100%;
        height: 100%;
    }
    // }
    .btn-container {
        width: 50%;
        z-index: 100;
        position: absolute;
        margin: auto;
        bottom: 50%;
        .btn-order {
            border: none;
            background: none;
            // padding: 2px;
            // width: 20%;
            // transition: 0.5s;
            // font-family: "Roboto-Regular", "Roboto";
            // font-size: 20px;
            // font-weight: 800;
            a {
                border: 2px solid #fff;
                font-family: "Roboto-Regular", "Roboto";
                font-size: 20px;
                font-weight: 800;
                width: 100%;
                padding: 10px;
                color: #fff;
                transition: 0.3s;
                // border: 1px solid black;
                &:hover {
                    padding: 10px;
                    background: #fff;
                    color: #000;
                    text-decoration: none;
                }
            }
        }
    }
}
