.Login {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  #bf-1 {
    &:hover {
      opacity: 0;
    }
  }
  #b1,
  #b2,
  #b3 {
    animation: bubble 1s ease-in-out infinite;
  }
  #bubbles {
    animation: bubbles 5s ease-in-out infinite;
  }
  .login-form {
    border: 1px solid black;
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: left;
    .input-email {
      width: 60%;
      input {
        border-radius: 0;
        padding: 0 !important;
        border: none;
        border-bottom: 2px solid #e5e5e5;
        box-shadow: none;
        &:focus {
          // box-shadow: none;
          // outline: 0 !important;
          border-bottom: 2px solid cyan;
        }
      }
    }
    .input-password {
      width: 60%;
      input {
        border-radius: 0;
        padding: 0 !important;
        border: none;
        border-bottom: 2px solid #e5e5e5;
        box-shadow: none;
        &:focus {
          border-bottom: 2px solid cyan;
        }
      }
    }
    .button-wrapper {
      width: 60%;
      height: 15%;
      // background-color: red;
      display: flex;
      justify-content: center;
    }
  }
}

@keyframes bubbles {
  75% {
    transform: translate(0px, 20px);
  }
}
