.menu-container {
    // border: 1px solid black;
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
    overflow-y: scroll;
}

.MenuItems {
    // border-bottom: 1px solid yellow;
    width: 100%;
    height: 10%;
    display: flex;
    .food-category-container {
        // border: 1px solid red;
        width: 5%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .food-category {
            // border: 1px solid green;
            width: 70%;
            height: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
    .food-name-container {
        // border: 1px solid red;
        width: 40%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .food-name {
            // background-color: #6a197d;
            background: linear-gradient(to right, #191654, #43c6ac);
            box-shadow: 0 -3px 20px 0 rgba(0, 0, 0, 0.9);
            width: 90%;
            height: 50%;
            border-radius: 20px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding-left: 30px;
            span {
                color: #fff;
                font-size: 16px;
                font-weight: 600;
                font-family: "Roboto-Regular", "Roboto";
                text-transform: capitalize;
            }
        }
    }
    .food-rate-container {
        width: 15%;
        height: 100%;
        // border: 1px solid red;
        display: flex;
        justify-content: center;
        align-items: center;
        .food-rate {
            width: 90%;
            height: 50%;
            // border: 1px solid green;
            display: flex;
            justify-content: center;
            align-items: center;
            background: linear-gradient(to right, #191654, #43c6ac);
            box-shadow: 0 -3px 20px 0 rgba(0, 0, 0, 0.9);
            border-radius: 20px;
            span {
                color: #fff;
                font-size: 16px;
                font-weight: 600;
                font-family: "Roboto-Regular", "Roboto";
                text-transform: capitalize;
            }
        }
    }
    .food-quantity-container {
        // border: 1px solid red;
        width: 20%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .food-quantity {
            // border: 1px solid green;
            width: 90%;
            height: 70%;
            display: flex;
            justify-content: center;
            align-items: center;
            .btn-minus {
                // border: 1px solid red;
                background-color: #43c6ac;
                width: 30%;
                height: 70%;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #fff;
                box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.9);
                border-radius: 30px;
                &:hover {
                    background-image: linear-gradient(107deg, #43c6ac, #f8ffae);
                    box-shadow: 0 0px 20px 0 #f8ffae;
                }
                // box-shadow: 10px 30px 20px 0 rgba(0, 0, 0, 0.5);
            }
            .input-quantity {
                // border: 1px solid red;
                width: 60%;
                height: 70%;
                input {
                    width: 100%;
                    height: 100%;
                    border: none;
                    text-align: center;
                    &:focus {
                        outline: none;
                    }
                }
            }
            .btn-plus {
                // border: 1px solid red;
                background-color: #43c6ac;
                width: 30%;
                height: 70%;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #fff;
                box-shadow: 0 50px 40px 0 rgba(0, 0, 0, 0.9);
                border-radius: 30px;
                // box-shadow: 0 -3px 20px 0 rgba(0, 0, 0, 0.8);
                &:hover {
                    background-image: linear-gradient(107deg, #43c6ac, #f8ffae);
                    box-shadow: 0 0px 20px 0 #f8ffae;
                }
            }
        }
    }
    .add-to-cart-container {
        width: 25%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .add-to-cart {
            border: 2px solid #fff;
            width: 70%;
            height: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            transition: all 0.4s ease 0s;
            &:hover {
                background: linear-gradient(to right, #67b26f, #4ca2cd);
                border-radius: 50px;
                border: none;
            }
            span {
                color: #fff;
                font-size: 15px;
                font-weight: 600;
            }

            // background-color: red;
        }
    }
}
