// .Navbar {
//   border-bottom: 0.5px solid grey;
// }
.abcd {
  // background-color: green;
  z-index: 10;
  position: fixed;
  width: 100%;
  height: 11%;
  .site-navbar {
    width: 100%;
    height: 100%;
    padding: 0 !important;
    margin: 0 !important;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 -3px 20px 0 rgba(0, 0, 0, 0.8);
    .navbar-brand-box {
      padding: 0 !important;
      margin: 0 !important;
    }

    .navbar-container {
      padding: 0 !important;
      margin: 0 !important;
      display: flex;
      justify-content: center;

      .nav-links {
        padding: 0 !important;
        margin: 0 !important;
        width: 30%;
        height: 30px;
        display: flex;
        justify-content: center;
        // border: 1px solid black;
        .link-home {
          display: flex;
          justify-content: center;
          align-items: center;
          a {
            color: #909090;
            font-family: "Roboto-Regular", "Roboto";
            font-size: 16px;
            font-weight: 600;
            &:hover {
              text-decoration: none !important;
              color: #000;
            }
          }
        }
        .link-login {
          display: flex;
          justify-content: center;
          align-items: center;
          a {
            color: #909090;
            font-family: "Roboto-Regular", "Roboto";
            font-size: 16px;
            font-weight: 600;
            &:hover {
              text-decoration: none !important;
              color: #000;
            }
          }
        }
        .link-register {
          display: flex;
          justify-content: center;
          align-items: center;
          a {
            color: #909090;
            font-family: "Roboto-Regular", "Roboto";
            font-size: 16px;
            font-weight: 600;
            &:hover {
              text-decoration: none !important;
              color: #000;
            }
          }
        }
      }
      .navlinks-auth {
        // border: 1px solid black;
        width: 20%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        .link-home-auth {
          a {
            color: #909090;
            font-family: "Roboto-Regular", "Roboto";
            font-size: 18px;
            font-weight: 600;
            &:hover {
              text-decoration: none !important;
              color: #000;
              // border-bottom: 2px solid #fff;
            }
          }
        }
        .link-logout {
          // border: 1px solid black;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          width: 30%;
          height: 100%;

          // border: 4px solid #fff;
          &:hover {
            span {
              color: #000;
            }
          }

          span {
            color: #909090;
            font-family: "Roboto-Regular", "Roboto";
            font-size: 16px;
            font-weight: 600;
          }
        }
      }
    }
  }
}
