.card-container {
    background-color: white;
    height: 250px;
    box-shadow: 0 -3px 20px 0 rgba(0, 0, 0, 0.5);
    display: flex;
    // &:hover {
    //     .restaurant-image {
    //         width: 50%;
    //     }
    // }
    .restaurant-image {
        height: 100%;
        width: 50%;
        background-image: url("../images/auth-image11.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        transition: 1s;
        display: flex;
        justify-content: center;
        .btn-container {
            width: 100%;
            align-self: center;
            .btn-view-menu {
                border: 4px solid #fff;
                background: none;
                padding: 10px;
                width: 50%;
                transition: 0.5s;
                font-family: "Roboto-Regular", "Roboto";
                font-size: 20px;
                font-weight: 800;
                &:hover {
                    background: #fff;
                    color: #000;
                }
                a {
                    color: #fff;
                    &:hover {
                        color: #000;
                        text-decoration: none;
                    }
                }
            }
        }
    }
    .restaurant-details {
        width: 50%;
        height: 100%;
        .restaurant-name {
            border: 1px solid black;
            height: 40%;
            display: flex;
            justify-content: center;
            align-items: center;
            .value-restaurant-name {
                border: 1px solid black;
                width: 80%;
                height: 80%;
            }
            // .rating {
            //     border: 1px solid black;
            //     width: 15%;
            //     height: 100%;
            // }
        }
        .second-container {
            width: 100%;
            height: 60%;
            display: flex;
            .address {
                width: 70%;
                height: 100%;
                border: 1px solid black;
                display: flex;
                justify-content: center;
                align-items: center;
                .value-address {
                    border: 1px solid black;
                    width: 80%;
                    height: 80%;
                    text-align: left;
                }
            }
            .call {
                width: 30%;
                height: 100%;
                border: 1px solid black;
                display: flex;
                justify-content: center;
                align-items: center;
                .value-call {
                    border: 1px solid black;
                    width: 80%;
                    height: 80%;
                }
            }
        }
    }
}
