.row-container {
    width: 100%;
    height: 100vh;
    .row-search-container {
        width: 100%;
        height: 50%;
        background-color: gold;
        display: flex;
        justify-content: center;
        align-items: center;
        .search-box {
            width: 90%;
            height: 30%;
            border: 1px solid black;
        }
    }
    .row-restaurants-container {
        width: 100%;
        height: 100%;
        .col-filter-container {
            padding: 0 !important;
            margin: 0 !important;
            height: 80%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            .filter-1 {
                width: 80%;
                height: 30%;
                box-shadow: 0 -3px 20px 0 rgba(0, 0, 0, 0.1);
            }
            .filter-2 {
                width: 80%;
                height: 30%;
                box-shadow: 0 -3px 20px 0 rgba(0, 0, 0, 0.1);
            }
            .filter-3 {
                width: 80%;
                height: 30%;
                box-shadow: 0 -3px 20px 0 rgba(0, 0, 0, 0.1);
            }
        }
        .col-restaurants-container {
            border: 1px solid black;
            padding: 0 !important;
            margin: 0 !important;
            display: flex;
            justify-content: center;
            .RestaurantsList {
                width: 80%;
                height: 100%;
                display: flex;
                flex-direction: column;
                // justify-content: space-evenly;
                @import "restaurantCard.scss";
            }
        }
    }
}
