.row-container {
    width: 100%;
    height: 900px;
    .row-search-container {
        width: 100%;
        height: 35%;
        background-color: #1f1f1f;
        display: flex;
        justify-content: center;
        align-items: center;
        .SearchBar {
            width: 80%;
            height: 85%;
            // border: 1px solid black;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            .select-city-container {
                width: 15%;
                height: 100%;
                cursor: pointer;
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: column;
                // border: 1px solid red;
                .current-city {
                    width: 60%;
                    height: 20%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    // border: 1px solid yellow;
                    border-radius: 50px;
                    background: linear-gradient(to right, #36d1dc, #5b86e5);
                    box-shadow: 0 -3px 20px 0 linear-gradient(to right, #36d1dc, #5b86e5);
                    transition: 0.4s;
                    &:hover {
                        border-radius: 0px;
                    }
                    span {
                        color: #fff;
                        font-size: 18px;
                        font-weight: 600;
                        font-family: "Roboto-Regular", "Roboto";
                    }
                }
                .options-city {
                    width: 80%;
                    height: 80%;
                    background-color: #181818;
                    box-shadow: 0 -3px 20px 0 rgba(0, 0, 0, 0.5);
                    // border: 1px solid green;
                    border-radius: 40px;
                    .options {
                        width: 100%;
                        height: 25%;
                        border-bottom: 0.01em solid #fff;
                        // border: 1px solid yellow;
                        border-radius: 40px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        &:hover {
                            // background-color: yellow;
                            background: linear-gradient(to right, #283c86, #45a247);
                        }
                        span {
                            color: #fff;
                            font-size: 15px;
                            font-weight: 600;
                            font-family: "Roboto-Regular", "Roboto";
                        }
                    }
                }
            }
            .search-container {
                width: 80%;
                height: 100%;
                // border: 1px solid green;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                .search-box {
                    width: 60%;
                    height: 30%;
                    border-radius: none;
                    // border: 1px solid red;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    // background-color: #191919;
                    // box-shadow: 3px 2px 5px grey;
                    // box-shadow: 0 -3px 20px 0 rgba(0, 0, 0, 0.5);
                    // border: 1px solid red;
                    .form-container {
                        width: 100%;
                        height: 90%;
                        border-radius: none;
                        // background-color: #89cff0;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 10px;
                        border-bottom: 1px solid #007991;
                        input {
                            width: 100%;
                            height: 100%;
                            box-shadow: none;
                            border-radius: none;
                            border: none;
                            background-color: #1f1f1f;
                            font-family: "Roboto-Regular", "Roboto";
                            font-size: 20px;
                            font-weight: 600;
                            color: #fff;
                            // transition: 2s;
                            &:focus {
                                outline: none;
                            }
                            &::placeholder {
                                color: #fff;
                            }
                        }
                    }
                    .btn-search {
                        width: 60px;
                        height: 100%;
                        background-color: #1f1f1f;
                        border: none;
                        img {
                            width: 100%;
                            height: 100%;
                        }
                        &:focus {
                            outline: none;
                        }
                    }
                }
                .suggestion-container {
                    width: 60%;
                    height: 50%;
                    background-color: #1f1f1f;
                    // border: 1px solid red;
                    .suggestions {
                        padding: 20px;
                        width: 70%;
                        height: 100%;
                        // border: 1px solid green;
                        background-color: #181818;
                        color: #fff;
                        border-bottom-left-radius: 40px;
                        border-bottom-right-radius: 40px;
                        .suggestion-items {
                            width: 100%;
                            height: 40%;
                            // border: 1px solid red;
                            // border-bottom: 1px solid #e5e5e5;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-size: 17px;
                            font-weight: 600;
                            text-transform: capitalize;
                            font-family: "Roboto-Regular", "Roboto";
                            &:hover {
                                background: linear-gradient(to right, #283c86, #45a247);
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
    }
    .row-restaurants-container {
        width: 100%;
        height: 100%;
        background-color: #1f1f1f;
        .col-filter-container {
            padding: 0 !important;
            margin: 0 !important;
            height: 80%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            .filter-ratings {
                width: 80%;
                height: 30%;
                box-shadow: 0 -3px 20px 0 rgba(0, 0, 0, 0.5);
                background-color: #181818;
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: column;
                .heading-ratings {
                    width: 100%;
                    height: 40%;
                    // border: 1px solid yellow;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    span {
                        color: #fff;
                        font-size: 30px;
                    }
                }
                .slider-container {
                    width: 70%;
                    height: 30%;

                    // flex-basis: 10px;
                    // border: 2px solid red;
                }
                .ratings-value {
                    width: 100%;
                    height: 20%;
                    // border: 1px solid yellow;
                    span {
                        color: #fff;
                        font-size: 25px;
                    }
                }
            }
            .filter-cost {
                width: 80%;
                height: 30%;
                box-shadow: 0 -3px 20px 0 rgba(0, 0, 0, 0.5);
                background-color: #181818;
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: column;
                .heading-cost {
                    width: 100%;
                    height: 40%;
                    // border: 1px solid yellow;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    span {
                        color: #fff;
                        font-size: 30px;
                    }
                }
                .slider-container {
                    height: 30%;
                    width: 70%;
                    // flex-basis: 10px;
                    // border: 2px solid red;
                }
                .cost-value {
                    width: 100%;
                    height: 20%;
                    // border: 1px solid yellow;
                    span {
                        color: #fff;
                        font-size: 25px;
                    }
                }
            }
            .filter-3 {
                width: 80%;
                height: 30%;
                box-shadow: 0 -3px 20px 0 rgba(0, 0, 0, 0.1);
                background-color: #000;
            }
        }
        .col-restaurants-container {
            // border: 1px solid black;
            padding: 0 !important;
            margin: 0 !important;
            display: flex;
            justify-content: center;
            .RestaurantsList {
                width: 80%;
                height: 100%;
                display: flex;
                margin-top: 2%;
                flex-direction: column;
                // border: 1px solid red;
                // justify-content: space-evenly;
                @import "restaurantCard.scss";
            }
        }
    }
}
