.Header {
    font-family: 'Roboto-Regular', 'Roboto';
    padding: 0 !important;
    margin: 0 !important;
    background-image: url("../images/image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    opacity: 0.85;
}

@import "common.scss";
@import "Navbar.scss";
@import "Login.scss";
@import "auth.scss";
@import "overview.scss";
@import "footer.scss";
@import "searchContainer.scss";
@import "header.scss";
@import "searchContainer.scss";
